---
import "../styles/global.css";
import Home from "@/components/landing";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <style>
      html {
        scroll-behavior: smooth;
      }
    </style></head
  >

  <body>
    <Home client:load />
  </body>
</html>
